<div class="planner-container">
    <div class="header-container">
        <div class="input-container">
            <label>Mesocycle Name</label>
            <input [(ngModel)]="selectedMesoCycle.name">
        </div>

        <button mat-raised-button color="primary" (click)="saveMesocycle()">
            <mat-icon>save</mat-icon>
            Save
        </button>

        <button mat-raised-button color="primary" (click)="loadMesocycle()">
            <mat-icon>folder_open</mat-icon>
            Load
        </button>

        <button mat-raised-button color="accent" (click)="randomizeExerciseColors()">
            <mat-icon>palette</mat-icon>
            Randomize Colors
        </button>

        <button mat-raised-button color="accent" (click)="generateSpreadsheet()">
            <mat-icon>download</mat-icon>
            Download Spreadsheet
        </button>

        <button mat-raised-button color="primary" (click)="exportTemplate()">
            <mat-icon>download</mat-icon>
            Export Template
        </button>

        <input
            type="file"
            #fileInput
            style="display: none"
            accept=".json"
            (change)="importTemplate($event)"
        >
        <button mat-raised-button color="primary" (click)="fileInput.click()">
            <mat-icon>upload</mat-icon>
            Import Template
        </button>
    </div>
    
    <div class="days-container" cdkDropList cdkDropListOrientation="horizontal" (cdkDropListDropped)="drop($event)">
        <div *ngFor="let item of selectedMesoCycle.microcycles[0].days; let i = index" cdkDrag>
            <mat-card class="day-card">
                <mat-card-header>
                    <mat-card-title>
                        <input [id]="'day-name-' + i" [(ngModel)]="item.name" placeholder="Day Name">
                    </mat-card-title>
                    <button mat-icon-button color="warn" (click)="removeDay(i)" tabindex="-1">
                        <mat-icon>delete</mat-icon>
                    </button>
                </mat-card-header>

                <mat-card-content>
                    <div class="exercises-container" cdkDropList (cdkDropListDropped)="dropExercise($event, item)">
                        <mat-card *ngFor="let exercise of item.exercises; let o = index" 
                                 cdkDrag 
                                 class="exercise-card">
                            <mat-card-content>
                                <div class="exercise-content">
                                    <input [id]="'exercise-name-' + o + '-' + i" 
                                           [(ngModel)]="exercise.name" 
                                           placeholder="Exercise Name">
                                    <select [(ngModel)]="exercise.progression.type">
                                        <option *ngFor="let type of progressionTypes" [value]="type">
                                            {{type}}
                                        </option>
                                    </select>
                                    <input *ngIf="exercise.progression.type !== 'None'" 
                                        type="number" 
                                        [(ngModel)]="exercise.progression.amount">
                                    <select [(ngModel)]="exercise.setCount">
                                        <option *ngFor="let count of [1,2,3,4,5]" [value]="count">
                                            {{count}} {{count === 1 ? 'Set' : 'Sets'}}
                                        </option>
                                    </select>
                                    <div class="color-picker-container">
                                        <label>Color:</label>
                                        <input type="color" 
                                               [(ngModel)]="exercise.color" 
                                               [style.background-color]="exercise.color">
                                    </div>
                                </div>
                                <button mat-icon-button color="warn" (click)="removeExercise(item, o)" class="delete-button" tabindex="-1">
                                    <mat-icon>delete</mat-icon>
                                </button>
                            </mat-card-content>
                        </mat-card>
                        <button mat-raised-button color="primary" (click)="addExercise(item)">
                            <mat-icon>add</mat-icon>
                            Add Exercise
                        </button>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>

        <button mat-raised-button color="primary" (click)="addDay()">
            <mat-icon>add</mat-icon>
            Add Day
        </button>
    </div>
</div>